---
import { fetchAPI } from "../utils/api.js";
import Stars from "./Stars.astro";

let res = await fetchAPI('reviews');
let reviews: any[] = await res.json();
---

<div class="space-y-6">
  <div class="text-lg font-medium text-white">
    <span class="text-teal-300">Selected</span> customer reviews
  </div>
  <div class="space-y-8">
    {
      reviews.map(({ name, stars, review }) => (
        <div class="space-y-4">
          <>
            <div class="space-y-2">
              <div class="flex items-center gap-x-2">
                <>
                  <div class="h-6 w-6 rounded-full bg-gray-700" />
                  <div class="text-sm text-white">{name}</div>
                </>
              </div>
              <Stars {stars} />
            </div>
            <div class="text-gray-400">{review}</div>
          </>
        </div>
      ))
    }
  </div>
</div>
